<a href='/'><h1>Breedr Breeds</h1></a>
  <% @breeds.each do |breed| %>
    <h3><a href='/breeds/<%= breed.id %>'><%= breed.name %></a></h3>
  <% end %>

<br>
<br>
<br>
<a href='/pets'>I want to see all pets</a>
<br>
<br>
<br>
<br>
<br>
<a href='/logout'>Logout</a>