<h1>Welcome to Breedr!</h1>
<a href="/pets">See your pets</a>
<br>
<a href="/pets/matches">See your matches</a>
<br>
<br>
<a href="/breeds">See all breeds</a>
<br>
<a href="/pets">See all pets</a>
<br>
<br>
<br>
<a href="/logout">Logout</a>