<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Register a Pup</h1>
      </div>
    </div>
  </div>
</div>

<div class="section">
<div class="container">
<div class="row">
<%= form_tag "/pets", method: "post" do %>
  <div class="basic-login">
    <div class="form-group">
      Name: <input type="text" name="name">
    </div>
    <input type="hidden" name="user_id" value="<%= @user_id %>">
    <div class="form-group">
      Birthdate: <input type="text" name="birthdate">
    </div>
    <div class="form-group" name="gender">
      Gender: 
      <select>
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
    </div>
    <div class="form-group" name="breed_id">
      Breed:
      <select>
        <% @breeds.each do |breed| %>
          <option value="<%= breed.id %>"><%= breed.name %></option>
        <% end %>
      </select>
    </div>
  <input type="submit" class="btn btn-default" value="Register Pet">
<% end %>
</div>
</div>
</div>