<a href='/'><h1>Breedr</h1></a>
  <div id='pet_bio'>
    <h2><%= @pet.name %></h2>
    <img src='<%= @pet.image %>' height='335' width='335'>
  </div>
<br>
<br>
<a href='/pets'>Match with <%= @pet.name %></a>
<br>
<br>
<br>
<a href='/logout'>Logout</a>