<div id="app">
<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Your Matches</h1>
      </div>
    </div>
  </div>
</div>

<div class="section">
<div class="container">
  <h2>Pending Incoming Matches</h2>

  <h2>Pending Outgoing Matches</h2>
    <%= @outgoing_matches %>

  <h2>Confirmed Matches</h2>
</div>
</div>
</div>